<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon name="ios-chatbubbles"></ion-icon>
      SpeakOutPH
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button color="danger" large full
    [disabled]="!contactsList || !contactsList.length"
    (click)="presentActionSheet()">
    ASK HELP NOW
  </button>

  <ion-card>
    <ion-card-header>
      <b>Emergency Contacts</b>
    </ion-card-header>

    <ion-card-content>
      <ion-item *ngFor="let contactDetails of contactsList; let contactIndex = index"
        (click)="selectNewContact(contactIndex)">
        <ion-avatar item-start>
          <img src="{{contactDetails.photoUrl}}">
        </ion-avatar>
        <h2>{{contactDetails.displayName}}</h2>
        <p>{{contactDetails.phoneNumber}}</p>
      </ion-item>
      <ion-item *ngFor="let dummyDetails of dummyList; let dummyIndex = index"
        (click)="selectNewContact(-1)">
        <button ion-button icon-only clear item-start medium>
          <ion-icon name="ios-contact-outline" ></ion-icon>
        </button>
        <h2 style="font-color:gray;"><i>{{dummyDetails.displayName}}</i></h2>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
